body {
    background-color: #EA4D44;

}

* {
    font-family: sans-serif;

}

form {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    border: none;
}

img {
    max-width: 100%;
    margin-top: 3em;
}

#keaLogo {
    grid-area: "logo";
    max-height: 100%;
}

#text {
    grid-area: "text";
    max-height: 100%;
    padding-bottom: 0;
}

fieldset * {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    padding: .5em;
    text-align: center;
}

label {
    display: inline;
    font-size: .7em;
}

input[type=checkbox] {
    display: inline;
    width: 10%;
    opacity: 0;
    animation: appear 1s .9s forwards;
}

fieldset {
    border: none;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

#Loginbt {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: .5em;
    font-size: 1.5em;
    border: none;
    background-color: #592A2A;
    color: white;
    margin-bottom: 0;
    opacity: 0;
    animation: appear 1s 1.1s forwards;
}


input[type=email],
input[type=password] {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    padding: 1em;
}

#remember{
    opacity: 0;
    animation: appear 1s .9s forwards;
}
input[type=email]{
    opacity: 0;
    animation: appear 1s .5s forwards;
}

input[type=password] {
    opacity: 0;
    animation: appear 1s .7s forwards;
}

@keyframes appear{
    to{
        opacity: 1;
    }
}

@media all and (max-width:550px) {


    #screen {
        max-height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;

    }

}

@media all and (min-width:550px) and (max-width:900px) {


    form {
        max-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding-top: 4em;
        padding-right: 3em
    }

    #screen {
        max-height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo text";
    }

    img {
        max-height: 200px;
        margin-bottom: 6em;
    }

    body {
        max-height: 100%;
    }

    #text {
        border-left: 1px solid black;
        padding-left: 3em;
    }
}

@media all and (min-width:900px) {

    form {
        margin-top: 5em;
        padding-right: 3em
    }

    #screen {
        max-width: 900px;
        margin-top: 8em;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo text";
    }

    img {
        max-height: 200px;
        margin-bottom: 5em;
    }

    #text {
        border-left: 1px solid black;
        padding-left: 3em;
    }
}
